
@{
    ViewBag.Title = "Админка";
    Layout = "_Layout";
}


@section SidebarMenu{
  <nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
      <!-- Add icons to the links using the .nav-icon class
      with font-awesome or any other icon font library -->
      <li class="nav-item">
        <a asp-controller="Admin" asp-action="Users" class="nav-link">
          <i class="nav-icon fas fa-th"></i>
          <p>
            Пользователи
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a href="pages/widgets.html" class="nav-link">
          <i class="nav-icon fas fa-th"></i>
          <p>
            Хакатоны
          </p>
        </a>
      </li>
    </ul>
  </nav>
}