
@{
    ViewBag.Title = "Админка";
    Layout = "_Layout";
}


@section SidebarMenu
{
  <li class="nav-item">
    <a asp-controller="Admin" asp-action="Users" class="nav-link">
      <i class="nav-icon fas fa-th"></i>
      <p>
        Пользователи
      </p>
    </a>
  </li>
  <li class="nav-item">
    <a asp-controller="Admin" asp-action="Hackathons" class="nav-link">
      <i class="nav-icon fas fa-th"></i>
      <p>
        Хакатоны
      </p>
    </a>
  </li>
}