@using System.Security.Claims

@{
    ViewBag.Title = "Личный кабинет";
    Layout = "_Layout";
}

@section SidebarMenu
{
      <li class="nav-item">
        <a  class="nav-link">
          <i class="nav-icon fas fa-tachometer-alt"></i>
          <p>
            Хакатоны
            <i class="right fas fa-angle-left"></i>
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a asp-controller="Account" asp-action="EditProfile" class="nav-link">
          <i class="nav-icon fas fa-th"></i>
          <p>
            Даныне профиля
          </p>
        </a>
      </li>
}
