
@{
    ViewData["Title"] = "Контакты";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center" style="padding-top:100px;">Контакты</h1>

<div id="map-container" class="d-flex justify-content-center">
    <img src="~/img/MapSibsau.png" width="90%"/>
</div>

<div id="contact-data-container" class="d-flex justify-content-around pt-4">
    <div id="work-time-container">
        <h5>Время работы</h5>
        <p>ПН-ПТ 9:00-17:00</p>
        <p>СБ 10:00-15:00</p>
    </div>
    <div id="phone-numbers-container">
        <h5>Телефоны</h5>
        <p>+7(000)-000-00-00</p>
        <p>+7(999)-999-99-99</p>
    </div>
    <div id="email-container">
        <h5>E-mail</h5>
        <h6>Основная почта</h6>
        <p>email@email.com</p>
        <h6>Почта по вопросам подачи заявок</h6>
        <p>second-email@mail.com</p>
        <h6>Почта по вопросам сотрудничества</h6>
        <p>third-email@yandex.ru</p>
    </div>
</div>
